a {
  color: #Ffffff;
text-decoration: none;
font-size: 20px;
}

body {
  margin: 0;
  font-family: canter;
}

h3 {
  font-size: 35px;
  font-weight: 800;
  line-height: 2;
}
h4 {
  font-size: 25px;
  line-height: 2;
}


p {
  font-size: 20px;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

ul > li {
  display: inline;
  margin: 0 5px;
}
#bs-example-navbar-collapse-1li > a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  background-color: #151245;
  position: absolute;
  z-index: 3;
}


#footer {
  background-color: #151245;
  padding: 10px;
  margin-bottom: -90px;
  margin-top: 10px;
  text-align: center;
}

.container-fluid {
  background-color: #151245;
}

.navbar-brand {
  padding: 10px;
  font-family: canter;
  background-color: #151245;
}
.navbar-brand h1 {
  color: #ffffff;
  font-size: 40px;
  margin-top: -12px;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 20px;
  margin-top: -3px;
}
