figcaption {
  line-height: 2;
  font-size: 20px;
}

section > h3 {
  margin: 0 0 40px 0;
}

section figure > figcaption {
  text-align: center;
}

#buttonparty {
  width: 150px;
  height: 150px;
}

#castpic {
    align-items: center;

}

#cast {
  margin-top: 5px;
  }

.col-md-4 {
    padding: 20px;
}

.modal-dialog {
    width: 90%;
  }


@media (min-width: 768px) {
    .modal-dialog {
      width: 90%;
    }
  }
