
button.hover {
  filter: none;
}
#buttonparty {
  width: 150px;
  height: 150px;
}
#castpic {
  align-items: center;
  filter: grayscale(100%);
}
#castpic2 {
  transform: rotate(90deg);
  filter: grayscale(100%);
}
#castpic2:hover {
  filter: none;
}
#castpic:hover {
  filter: none;
}
#cast {
  margin-top: 5px;
}

#cast:hover {
  filter: none;

}


.col-md-4 {
  padding: 20px;
}
.modal-dialog {
  width: 90%;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
  }
}

h3 {
  margin-top: 60px;
}
