figcaption {
  line-height: 2;
  font-size: 20px;
}

li > a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
}

section > h3 {
  margin: 0 0 40px 0;
}

section figure > figcaption {
  text-align: center;
}

#Doug {
  width: 320px;
  margin-left: 20px;
  margin-top: 20px;
}

h3 {
  margin-top: 60px;
}
