body {
  margin: 0;
  font-family: canter;
}

p {
  font-size: 20px;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 500px;
  text-align: justify;
}

#presspic {
 background: url("../Images/contact.JPG") center center no-repeat;
 background-size: cover;
 height:100%;
 display: flex;
 padding-top: 590px;
}
