figcaption {
  line-height: 2;
  font-size: 20px;
}

section > h3 {
  margin: 0 0 40px 0;
}

section figure > figcaption {
  text-align: center;
}

#castpic {
  width: 100%;
  align-items: center;
}

#cast {
    font-size: 30px;
    line-height: 2;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: justify;
    padding: 50px;
    align-items: center;
  }

.modal-dialog {
    width: 90%;
  }

@media (min-width: 768px) {
    .modal-dialog {
      width: 90%;
    }
  }
