figcaption {
  line-height: 2;
  font-size: 20px;
  color: #337ab7;
  text-align: center;
}

figcaption > a {
  color: #337ab7;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  text-align: center;
}

p {
  color: #337ab7;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  text-align: center;
}

#footer li > a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
}

section > h3 {
  margin: 0 0 40px 0;
}

section figure > figcaption {
  text-align: center;
}

.makingimg {
  padding: 60px;
  height: 300px;
  transform: rotate(90deg);
  filter: grayscale(100%);
}

.makingimg:hover {
    filter: none;
}
